* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-family: "Roboto-Regular";
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(235, 18%, 26%);
}
.container {
    width: 49%;
    height: 60%;
    background: hsl(0, 0%, 100%);
    display: flex;
    /* display: none; */
    padding: 1.2rem;
    overflow: auto;
    border-radius: 28px;
}
.mobile-panel-bottom {
    display: none;
    width: 41%;
    height: 100%;
    margin: auto;
}
.mobile-preview-image {
    display: none;
}
.right-panel {
    width: 40%;
    height: 100%;
    margin: auto;
}
.right-panel > img {
    width: 100%;
    height: 100%;
    margin-left: 2.25rem;
}
.left-panel {
    width: 41%;
    height: 100%;
    margin: auto;
}
.panel-title{
    width: 100%;
    color: hsl(234, 29%, 20%);
    margin-top: 3.2rem;
    font-size: 2.6rem;
    font-family: "Roboto-Bold";
}
.p-text {
    color: hsl(234, 29%, 20%);
    font-size: .8rem;
    margin-top: 1rem;
}
.list {
    width: 100%;
    margin-top: 1.2rem;
    font-size: .8rem;
}
.list > p {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: .8rem;
}
.list > p > svg {
    margin-right: .8rem;
}
.email-input {
    margin-top: 1.4rem;
}
.validation-box {
    display: flex;
    justify-content: space-between;
    font-size: .65rem;
    font-weight: 700 ;
    margin-bottom: .5rem;
}
.email-error {
    color: hsl(4, 100%, 67%);
    transition: all 3s;
}
.email-input :is(input, button) {
    width: 100%;
    height: 2.7rem;
    padding: .8rem .92rem;
    outline: none;
    border: 1px solid hsla(231, 7%, 60%, 0.74);
    border-radius: 5px;
}
.email-input input {
    font-size: .82rem;
    transition: all .3s;
}
.email-input input:focus {
    color: hsl(231, 7%, 10%);
    border-color: hsl(231, 7%, 10%);
    transition: all .3s;
}
.email-input button {
    background: hsl(234, 29%, 20%);
    color: #efefef;
    font-size: .72rem;
    font-weight: 600;
    margin-top: 1.2rem;
    border-color: transparent;
}
.email-input button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(339, 79%, 65%) ,hsl(4, 100%, 67%));
    box-shadow: 0 0 6px hsl(4, 100%, 67%);
    border-color: transparent;
    transition: all .2s;
}
.email-input input::placeholder {
    color: hsl(231, 7%, 40%);
    font-weight: 500;
}

/* Success section */
.success-part {
    width: 430px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 28px;
    padding: 3rem;
    display: none;
}
.title-text {
    width: 100%;
    color: hsl(234, 29%, 20%);
    margin-top: 1.8rem;
    font-size: 3.1rem;
    font-family: "Roboto-Bold";
}
.notify-text {
    width: 86%;
    color: hsl(234, 29%, 20%);
    font-size: .85rem;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
}
.success-part button {
    width: 100%;
    height: 2.9rem;
    padding: .8rem .92rem;
    outline: none;
    border: 1px solid hsla(231, 7%, 60%, 0.74);
    border-radius: 5px;
    background: hsl(234, 29%, 20%);
    color: #efefef;
    font-size: .86rem;
    font-weight: 500;
    border-color: transparent;
}
.success-part button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(339, 79%, 65%) ,hsl(4, 100%, 67%));
    box-shadow: 0 0 6px hsl(4, 100%, 67%);
    border-color: transparent;
    transition: all .2s;
}

